<li>
    <%= link_to "#{dogkarte.training_date}", edit_dog_dogkarte_path(dogkarte.dog_id, dogkarte.id) %>
    <span><%= dogkarte.training_session %></span>
    <span><%= dogkarte.training_times %></span>
</li>