<!--<h1>Owners#index</h1>-->
<!--<p>Find me in app/views/owners/index.html.erb</p>-->
<h2>オーナー一覧ページ</h2>
<% if @user.owners.any? %>
<table class='table table-striped table-bordered table-hover'>
    <thead>
        <tr>
            <th>オーナー名</th><th colspan='3'>住所</th><th>電話番号</th><th>削除</th>
        </tr>
    </thead>
    <tbody>
        <%= render @user.owners %>
    </tbody>
</table>
<% end %>